In [2]:
import pandas as pd

In [3]:
cn = pd.read_csv('data/commuter_networks.csv')

In [4]:
commuting_volume = {}

cn.head()

,Age,Home,From,To,N_move,%,t1,t2,ct1,ct2,Allow S,Allow I,Allow R
0,1,0,0,180,7.843468,-1,8.78999,9.00000,9.00000,9.210010,1,1,1
1,1,0,180,0,7.843468,-1,17.00000,17.21001,17.21001,17.420021,1,1,1
2,2,0,0,180,12.081096,-1,8.78999,9.00000,9.00000,9.210010,1,1,1
3,2,0,180,0,12.081096,-1,17.00000,17.21001,17.21001,17.420021,1,1,1
4,3,0,0,180,5.018440,-1,8.78999,9.00000,9.00000,9.210010,1,1,1